html { 
 background: url(../images/field.jpg) no-repeat center center fixed !important; 
 -webkit-background-size: cover !important;
 -moz-background-size: cover !important;
 -o-background-size: cover !important;
 background-size: cover !important;
}

body {
	background-color: transparent;
}

.container {
	height: 2000px;
	width: 900px;
	margin-top: 100px;
	margin-bottom: 50px;
}

.jumbotron {
	background: #dd661e;
	border: 3px solid white;
	text-align: center;
	color: #00529b;
   	margin: 100px 40px 0 40px;

}

h1 {
	font-family: 'Frijole', cursive;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	
}

.choiceList {
	text-align: center;
	color: white;
	
}

#showResults {
	text-align: center;
	font-size: 40px;
	padding: 25px;
	margin: 25px;
	font-family: 'Frijole', cursive;
	color: #00529b;
   	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.gameStart {
	margin-top: 60px;
}

.submitAnswer {
	margin-top: 60px;
}


#showQuestions {
	word-spacing: 1px;
	padding-left: 2px;
}

.radioButton {
	margin-left: 5px;
}




